<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Agregar Ingreso / Egreso</h4>
                <p class="card-description">
                    Especifique el monto y el tipo
                </p>
                <form (ngSubmit)="crearIngresoEgreso()" [formGroup]="forma">
                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" class="form-control" placeholder="Descripción" formControlName="description" name="description">
                    </div>
                    <div class="form-group">
                        <label>Monto</label>
                        <input type="number" class="form-control" placeholder="Monto" formControlName="mount" name="mount">
                        <p>Debe de ser un monto positivo</p>
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <br>
                        <button (click)="tipo = 2" *ngIf="tipo === 1" type="button" class="btn btn-primary btn-block">Ingreso</button>
                        <button (click)="tipo = 1" *ngIf="tipo === 2" type="button" class="btn btn-warning btn-block">Egreso</button>
                    </div>
                    <hr>
                    <button *ngIf="!cargando" [disabled]="forma.invalid" type="submit" class="btn btn-success mr-2">
                        <i class="fa fa-save"></i> Agregar
                    </button>
                    <button *ngIf="cargando" disabled class="btn btn-success mr-2">
                        <i class="fa fa-spin fa-sync"></i> Espere por favor...
                    </button>
                    <button type="reset" class="btn btn-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>