<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | ordenIngresoEgreso">
                            <td>{{ item.description }}</td>
                            <td>{{ item.mount | currency }}</td>
                            <td><span [ngClass]="{'text-success': item.income_expenditure_type_id === 1, 'text-danger': item.income_expenditure_type_id === 2}">{{ item.income_expenditure_type_id === 1 ? "Ingreso" : "Egreso" }}</span></td>
                            <td>
                                <button (click)="borrarItem( item )" class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Borrar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>